body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* You can add custom styling for nav links, spacing, etc. */
.navbar .nav-link {
  color: white;
}
.navbar .navbar-brand img {
  height: 50px; /* adjust as needed */
}
