body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 0 50px;
}

.logo {
  height: 50px;
}

.bg-boardroom {
  background-color: #133B40;
}

.bg-gradient-dark {
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
}

nav {
  border-radius: 10px;
  overflow: hidden;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}
